body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    word-wrap: break-word;
}

.wrapper {
    margin: 0 auto;
    width: 414px;
    background-color: #FAFAFA;
    overflow: hidden;
}

.profile-wrapper {
    margin: 0 auto;
    width: 414px;
    background-color: #f5f5f5;
    overflow: hidden;
}

:root {
    --large-par-size: 1.5rem;
    --par-color: #737373;
    --button-font-size: 1.5rem;
    --button-font-weight: 600;
    --button-padding: 20px 50px;
    --h1-size: 2.5rem;
    --h1-colour: #252b42;
    --par-weight: 500;
    --option-size: 1.5rem;
}

.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.main-flex p {
    margin-top: 0;
}

.article-grid {
    display: grid;
    /* Keeps them displayed in a column format */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 400px 600px);
}

.article-grid p {
    margin-left: 80px;
    margin-right: 80px;
}

.article-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-footer {
    text-align: center;
    padding: 50px;
}

.home-footer p {
    color: #5c5c5c;
    font-weight: 600;
}

button:focus {
    border: 2px solid black;
}

.round-button-1 {
    background-color: #FA4A0C;
    border: none;
    padding: var(--button-padding);
    margin-top: 15px;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    margin-bottom: 10px;
    border-radius: 40px;
    color: white;
}

.round-button-1:hover {
    background-color: #252b42;
    transition: 0.3s ease-in;
}

.round-button-2 {
    background-color: transparent;
    border: 1px solid #FA4A0C;
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    border-radius: 40px;
    color: #FA4A0C;
    margin-bottom: 40px;
}

.round-button-2:hover {
    border: 1px solid #252b42;
    color: #252b42;
    transition: 0.3s ease-in;
}

.square-button-1 {
    background-color: #FA4A0C;
    border: none;
    padding: 16px 23px;
    border-radius: 7px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: var(--button-font-weight);
    margin: 5px;
}

.square-button-1:hover {
    background-color: #efeeee;
    color: #252b42;
    transition: 0.3s ease-in;
}

.square-button-2 {
    background-color: transparent;
    border: 1px solid white;
    padding: 13px 23px;
    border-radius: 7px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: var(--button-font-weight);
}

.square-button-2:hover {
    background-color: #adadaf;
    color: #efeeee;
    border: none;
    transition: 0.3s ease-in;
}

article p {
    font-size: var(--large-par-size);
    color: var(--par-color);
    font-weight: var(--par-weight);
}

article h2 {
    color: #ff3300;
}

article h3 {
    font-size: var(--h1-size);
    color: var(--h1-colour);
}

main p {
    font-size: var(--large-par-size);
    color: var(--par-color);
    font-weight: var(--par-weight);
}

main h3 {
    color: var(--par-color);
    font-weight: 600;
    font-size: 1rem;
}

.app-image {
    margin: 0 auto;
    width: 100%;
    display: block;
}

.search {
    width: 58%;
    background-color: #efeeee;
    border: 1px solid black;
    border-radius: 60px;
    display: flex;
    padding: 7px 20px;
    margin-left: 38px;
}

.search-bar {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 0px;
    font-size: 1rem;
    color: black;
}

.search-bar::placeholder {
    color: black;
    /* Changes colour of the placeholder text */
}

.search button .material-symbols-outlined {
    font-size: 1.7rem;
}

.search button {
    border: none;
}

.app-download {
    background-color: #252b42;
    padding: 70px;
    text-align: center;
}

.app-download h2 {
    color: white;
    text-align: center;
    font-size: var(--h1-size);
    margin: 0;
}

.app-download p {
    color: #BDBDBD;
    font-size: var(--large-par-size);
}

#hamburger-image {
    display: none;
}

h1 {
    color: var(--h1-colour);
}

main h2 {
    color: var(--h1-colour);
}

#update-button {
    border: none;
    padding: 20px 120px;
    margin: 0px 0px 80px;
    background-color: #FA4A0C;
    color: white;
    border-radius: 30px;
    font-weight: var(--button-font-weight);
    font-family: "Montserrat", sans-serif;
}

#update-button:hover {
    background-color: #252b42;
    transition: 0.3s ease-in;
}

.options-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options-select .material-symbols-outlined {
    font-size: 2rem;
}

.options-select ul {
    padding: 0;
}

.options-select li {
    text-align: start;
    font-size: 1.2rem;
}

.option-button a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: block;
}

.option-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: black;
    font-weight: 600;
    font-size: var(--option-size);
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.option-button:hover {
    background-color: #252b42;
    color: white;
    transition: 0.3s ease-in;
}

.option-button .material-symbols-outlined {
    margin-left: 60px;
}

.profile {
    margin: 0 auto;
    padding: 20px 20px 35px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-item {
    margin: 4px 10px;
}

.profile p {
    font-size: 1rem;
}

.profile hr {
    width: 90%;
}

.profile-body {
    color: black;
}

.profile-wrapper h1 {
    color: black;
    margin: 20px 35px;
}

.profile-wrapper h2 {
    color: black;
    font-size: 1.2rem;
}

#profile-back-arrow {
    margin: 30px;
    font-size: 2rem;
}

#profile-back-arrow:hover {
    color: #FA4A0C;
}

#change {
    color: #FA4A0C;
    font-size: 1rem;
    margin: 15.936px 0px;
    text-decoration: none;
}

/* Adds a focus state to make it more accesible */
#change:focus {
    border: 2px solid black;
}

#change:hover {
    text-decoration: underline;
}

.line-break {
    border: 2px solid #e4e4e4;
}
.header-logo {
    width: 40%;
    margin: 10px;
}

.food-categories ul {
    list-style: none;
    display: flex;
    margin: 30px 0px;
}

.food-categories li {
    padding: 0px 12px;
    font-weight: 500;
}

.food-categories a {
    text-decoration: none;
    color: black;
}

#see-more {
    display: flex;
    justify-content: flex-end;
    margin: 0px 40px;
    color: #FA4A0C;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
}

#see-more:hover {
    text-decoration: underline;
    animation-name: pulsate;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

#see-more:focus {
    border: 2px solid black;
}

@keyframes pulsate {
    0% {
       transform: scale(1); 
    }
    100% {
        transform: scale(2);
    }
}

.food-categories a:hover {
    color: #FA4A0C;
    text-decoration: underline solid #FA4A0C 4px;
    /* Puts underline lower and increases size */
    text-underline-offset: 10px;
    /* Eases into hover transition so it does not appear too abrupt */
    transition: 0.3s ease;
    filter: drop-shadow(1px 1px 1.5rem #fa4a0c);
}

.food-categories a:focus {
    border: 4px solid black;
}

#main-image {
    align-items: center;
    width: 100%;
}

.product {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 10px;
    margin: 40px 0px 200px;
}

.product-content:hover {
    transform: translateY(-20px);
    transition: 0.5s ease-in-out;
    filter: drop-shadow(1px 3px 0.5rem #fa4b0c83);
}

.product-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

.product-text {
    margin: 0px 30px 30px;
    text-align: center;
}

.product-image {
    width: 100%;
    filter: drop-shadow(1px 1px 1rem #00000033);
    margin: -50px 0px;
}

.main-product h1 {
    margin-right: 160px;
    margin-left: 35px;
}

.product h1 {
    margin-right: 450px;
}

.product h2 {
    font-size: 1.2rem;
}

.product p {
    color: #FA4A0C;
    font-weight: 700;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 0px;
}

.bottom-nav .material-symbols-outlined {
    color: #adadaf;
    font-size: 1.8rem;
}

.bottom-nav .material-symbols-outlined:hover {
    font-variation-settings: 
    'FILL' 1;
    color: #FA4A0C;
    filter: drop-shadow(1px 1px 1rem #D73800);
    transition: 0.5s ease;
}

.bottom-nav a:focus {
    border: 4px solid black;
}

#profile-image {
    float: left;
    width: 30%;
}

#footer-logo {
    display: none;
}

/* #social-media {
    transition: ;
} */

#profile-heading {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
}

.profile-wrapper .header-nav {
    display: none;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Makes skip links off page, and gives them style */
.skip-links a {
    position: absolute;
    top: -8em;
    background-color: #FA4A0C;
    color: white;
    padding: .5em 1em;
    font-weight: bold;
}

/* Has skip links appear at top corner only when focusing */
.skip-links a:focus {
    top: 0;
}

.material-symbols-outlined:focus {
    border: 2px solid black;
}

#sign-out {
    display: none;
}

.nav-item .material-symbols-outlined {
    display: none;
}

#shopping-cart {
    color: #bebebe;
}

@media (min-width: 414px) {
    .wrapper {
        width: 100%;
    }

    .hamburger-menu input {
        display: none;
    }

    .header-nav {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        list-style: none;
    }
    
    /* Creates delay during hover*/
    .nav-link {
        transition: 0.7s ease;
        text-decoration: none;
        color: black;
        font-weight: 500;
    }
    
    .nav-link:hover {
        color: #FA4A0C;
    }
    
    .header-logo {
        width: 10%;
    }

    .article-grid {
        grid-template-columns: 500px 400px;
        grid-template-rows: repeat(3, 400px);
        gap: 10px;
        justify-content: center;
    }

    .article-grid .article-flex:nth-child(1) {
        order: 2;
    }

    .article-grid .app-image:nth-child(2) {
        order: -1;
    }

    .article-grid .app-image {
        width: 70%;
    }

    .article-grid h2 {
        margin: 0;
        font-size: 1rem;
    }
    
    .article-grid h3 {
        margin: 0;
        font-size: 1.7rem;
    }

    .article-grid p {
        margin: 0;
        font-size: 1rem;
    }

    .main-background {
        background-image: url(../images/banner-image.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 150%;
        padding: 100px;
    }

    .article-flex {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
    }

    #main-image {
        width: 30%;
        margin: 0px auto;
    }

    .app-download {
        background-image: url(../images/app-download-image.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 165px;
        text-align: center;
    }

    .app-download p {
        color: white;
    }

    .article-items {
        padding: 5px;
    }

    .main-flex .app-image {
        width: auto;
    }

    .line-break {
        width: 60%;
        margin: 0 auto;
    }

    /* Makes the logo visible in larger sizes */
    #footer-logo {
        display: inline;
    }

    /* Puts content in a row and space it around */
    .home-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .home-footer p {
        font-size: 0.9rem;
    }

    .header-logo {
        width: 80%;
    }

    .header-logo:focus {
        border: 2px solid black;
    }

    .main-flex h3 {
        margin-top: 50px;
        color: white;
    }

    .main-flex h1 {
        margin: 10px 200px 30px;
        color: white;
    }

    .main-flex p {
        font-size: 1.3rem;
        color: white;
        font-weight: normal;
    }

    .header-nav hr {
        display: none;
    }

    .round-button-2 {
        color: white;
        border: 1px solid white;
    }

    .round-button-2:hover {
        color: white;
        border: 1px solid #FA4A0C;
    }

    /* Below are for product page */
    .search {
        margin: 0 auto;
        width: 30%;
    } /* Centers search bar */

    .food-categories ul {
        justify-content: center;
        padding: 0;
    }

    .main-product h1 {
        text-align: center;
        margin: 0 auto;
        padding: 20px 0px;
        font-size: 3rem;
    }

    .bottom-nav {
        justify-content: center;
    }

    .bottom-nav .material-symbols-outlined{
        padding: 0px 80px;
        font-size: 2rem;
    }

    .product {
        justify-content: center;
    }

    /* Below is for profile page */
    .profile-wrapper {
        width: 100%;
    }

    h1 {
        text-align: center;
        margin: 0 auto;
    }

    #profile-heading {
        justify-content: center;
    }

    /* Sets it so it appears on profile page aswell */
    .profile-wrapper .header-nav {
        display: flex;
    }

    #profile-back-arrow {
        display: none;
    }

    .option-button {
        padding: 30px 400px;
        font-size: 5rem;
    }

    .options-select li {
        font-size: 1.8rem;
    }

    .option-button .material-symbols-outlined {
        font-size: 3rem;
    }

    #update-button {
        padding: 30px 350px;
        font-size: 1.3rem;
    }

    #profile-image {
        float: none;
        margin: 0 auto;
        display: flex;
        width: 25%;
        border-radius: 20px;
    }

    .profile-content {
        text-align: center;
        margin: 0px auto;
    }

    .profile-item {
        margin: 15px auto;
    }

    #profile-heading {
        justify-content: space-between;
        margin: 0px 200px;
    }

    .profile-wrapper h1 {
        margin: 40px 0px;
    }

    #shopping-cart {
        position: absolute;
        font-size: 2.4rem;
        right: 1000px;
    }
} 

@media (max-width: 414px) {

    #menu__toggle {
        opacity: 0;
      }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .nav-menu {
        visibility: visible;
        left: 0;
      }
      
    .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 48px;
    left: 360px;
    
    width: 26px;
    height: 26px;
    
    cursor: pointer;
    z-index: 1;
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    display: block;
    position: absolute;
    
    width: 100%;
    height: 2px;
    
    background-color: #252b42;
    
    transition-duration: .25s;
    }
    .menu__btn > span::before {
    content: '';
    top: -8px;
    }
    .menu__btn > span::after {
    content: '';
    top: 8px;
    }
    
    .nav-menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 80px 0;
    
    list-style: none;
    
    background-color: #FA4A0C;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    
    transition-duration: .25s;
}

    .nav-item {
        display: block;
        padding: 12px 24px;
        
        color: #333;
        
        font-family: 'Roboto', sans-serif;
        font-size: 1.1rem;
        font-weight: 200;
        padding: 20px;
        
        text-decoration: none;
        
        transition-duration: .25s;
    }

    .nav-item a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        
    }

    .nav-item a:hover {
        background-color: #252b42;
        color: white;
        border-radius: 10px;
        padding: 0px 20px;
        transition: 0.5s ease-in;
    }

    .nav-item:focus {
        border: 2px solid black;
    }

    .nav-break {
        border: 1px solid white;
        opacity: 0.5;
        width: 30%;
        position: absolute;
        left: 50px;
        margin: 0px 20px;
    }

    #sign-out {
        display: block;
        margin: 260px 0px;
    }

    /* Sets display to inline as it is display:none on larger screen sizes */
    .nav-item .material-symbols-outlined {
        color: white;
        margin-right: 8px;
        display: inline;
    }

    /* Sets it up as block so it will appear on page, then moves it into position with absolute and coordinates */
    #hamburger-image {
        display: block;
        position: absolute;
        right: 0px;
        top: 108px;
    }

    /* For products page */
    .product {
        transform: translateX(100px);
    }

    #shopping-cart {
        position: fixed;
    }
}

@media (min-width: 460px) and (max-width: 700px) {
    .header-logo {
        width: 200%;
        margin-right: 20px;
    }

    /* Settings for homepage */
    .footer-item {
        margin: 0px 20px
    }

    .nav-menu {
        justify-content: flex-end;
        margin: 0px 20px;
        padding-left: 50px;
    }

    /* Settings for profile */
    #profile-heading {
        margin: 0 50px;
    }
}

@media (min-width: 414px) and (max-width: 1000px) {
    .article-grid {
        grid-template-columns: 200px 400px;
        grid-template-rows: repeat(3, 400px);
        gap: 10px;
    }
}