body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    word-wrap: break-word;
}

.wrapper {
    margin: 0 auto;
    width: 414px;
    background-color: #FAFAFA;
}

.profile-wrapper {
    margin: 0 auto;
    width: 414px;
    background-color: #f5f5f5;
}

:root {
    --menu-width: 35px;
    --menu-height: 5px;
    --menu-gap: 6px;
    --menu-margin: 10px; 
    --animation-timing: 0.5s ease-in-out;
    /* Makes color of hamburger bards black while keeping background transparent */
    --foreground: #999999;
    --background: white;
    --large-par-size: 1.5rem;
    --par-color: #737373;
    --button-font-size: 1.5rem;
    --button-font-weight: 600;
    --button-padding: 20px 50px;
    --h1-size: 2.5rem;
    --h1-colour: #252b42;
    --par-weight: 500;
    --option-size: 1.5rem;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: var(--menu-gap);
    width: max-content;
    right: var(--menu-margin);
    top: var(--menu-margin);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--menu-width);
    height: var(--menu-height);
    background-color: var(--foreground);
    border-radius: 9000px;
    /* makes it so the top bar rotates around the left center, instead of through the right */
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing);
}


.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 50deg;
}

.hamburger-menu:has(input:checked)::after {
    rotate: -50deg;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-grid {
    display: grid;
    /* Keeps them displayed in a column format */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 400px 700px);
}

.article-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer {
    text-align: center;
    padding: 50px;
}

.round-button-1 {
    background-color: #FA4A0C;
    border: none;
    padding: var(--button-padding);
    margin-top: 15px;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    margin-bottom: 10px;
    border-radius: 40px;
    color: white;
}

.round-button-2 {
    background-color: #ffffff;
    border: 1px solid #FA4A0C;
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    border-radius: 40px;
    color: #FA4A0C;
    margin-bottom: 40px;
}

.square-button-1 {
    background-color: #FA4A0C;
    border: none;
    padding: 16px 23px;
    border-radius: 7px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: var(--button-font-weight);
    margin: 5px;
}

.square-button-2 {
    background-color: #252b42;
    border: 1px solid white;
    padding: 13px 23px;
    border-radius: 7px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: var(--button-font-weight);
}

article p {
    font-size: var(--large-par-size);
    color: var(--par-color);
    font-weight: var(--par-weight);
}

article h2 {
    color: #ff3300;
}

article h3 {
    font-size: var(--h1-size);
    color: var(--h1-colour);
}

main p {
    font-size: var(--large-par-size);
    color: var(--par-color);
    font-weight: var(--par-weight);
}

main h3 {
    color: var(--par-color);
    font-weight: 600;
    font-size: 1rem;
}

.app-image {
    margin: 0 auto;
    width: 100%;
}

.product-image {
    margin: 0 auto;
    width: 100%;
    z-index: 2;
}

.search-bar {
    border: 2px solid black;
    border-radius: 50px;
}

.app-download {
    background-color: #252b42;
    padding: 70px;
    text-align: center;
}

.app-download h2 {
    color: white;
    text-align: center;
    font-size: var(--h1-size);
    margin: 0;
}

.app-download p {
    color: #BDBDBD;
    font-size: var(--large-par-size);
}

h1 {
    color: var(--h1-colour);
}

main h2 {
    color: var(--h1-colour);
}

#update-button {
    margin: 0 auto;
}

.option-button {
    list-style: none;
    color: black;
    font-weight: 600;
    font-size: var(--option-size);
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-body {
    color: black;
}

.profile-wrapper h1 {
    color: black;
}

.profile-wrapper h2 {
    color: black;
}

#change {
    color: #FA4A0C;
}

.line-break {
    border: 2px solid #e4e4e4;
}

.header-nav {
    background-color: white;
}

#header-logo {
    width: 40%;
    margin: 10px;
}

@media (min-width: 380px) {
    .wrapper {
        width: 100%;
    }
    .article-grid {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px;
    }

    .main-home {
        background-image: url(images/banner-image.png);
        color: white;
    }

    .article-flex {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .app-image {
        width: 90%;
    }

    .app-download {
        background-image: url(images/app-download-image.png);
        padding: 165px;
        text-align: center;
    }

    .app-download p {
        color: white;
    }

    .main-flex .app-image {
        width: auto;
    }

    .line-break {
        width: 60%;
    }
}