body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    word-wrap: break-word;
}

.wrapper {
    margin: 0 auto;
    width: 414px;
    background-color: #FAFAFA;
}

.profile-wrapper {
    margin: 0 auto;
    width: 414px;
    background-color: #f5f5f5;
}

:root {
    --large-par-size: 1.5rem;
    --par-color: #737373;
    --button-font-size: 1.5rem;
    --button-font-weight: 600;
    --button-padding: 20px 50px;
    --h1-size: 2.5rem;
    --h1-colour: #252b42;
    --par-weight: 500;
    --option-size: 1.5rem;
}

.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.main-flex p {
    margin-top: 0;
}

.article-grid {
    display: grid;
    /* Keeps them displayed in a column format */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 400px 700px);
}

.article-grid p {
    margin-left: 80px;
    margin-right: 80px;
}

.article-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-footer {
    text-align: center;
    padding: 50px;
}

.home-footer p {
    color: #5c5c5c;
    font-weight: 600;
}

.round-button-1 {
    background-color: #FA4A0C;
    border: none;
    padding: var(--button-padding);
    margin-top: 15px;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    margin-bottom: 10px;
    border-radius: 40px;
    color: white;
}

.round-button-2 {
    background-color: #ffffff;
    border: 1px solid #FA4A0C;
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    border-radius: 40px;
    color: #FA4A0C;
    margin-bottom: 40px;
}

.square-button-1 {
    background-color: #FA4A0C;
    border: none;
    padding: 16px 23px;
    border-radius: 7px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: var(--button-font-weight);
    margin: 5px;
}

.square-button-2 {
    background-color: #252b42;
    border: 1px solid white;
    padding: 13px 23px;
    border-radius: 7px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: var(--button-font-weight);
}

article p {
    font-size: var(--large-par-size);
    color: var(--par-color);
    font-weight: var(--par-weight);
}

article h2 {
    color: #ff3300;
}

article h3 {
    font-size: var(--h1-size);
    color: var(--h1-colour);
}

main p {
    font-size: var(--large-par-size);
    color: var(--par-color);
    font-weight: var(--par-weight);
}

main h3 {
    color: var(--par-color);
    font-weight: 600;
    font-size: 1rem;
}

.app-image {
    margin: 0 auto;
    width: 100%;
    display: block;
}

.search-bar {
    background-color: #efeeee;
    padding: 14px 30px;
    border-radius: 30px;
    border: 1px solid black;
    margin: 0 auto;
}

.app-download {
    background-color: #252b42;
    padding: 70px;
    text-align: center;
}

.app-download h2 {
    color: white;
    text-align: center;
    font-size: var(--h1-size);
    margin: 0;
}

.app-download p {
    color: #BDBDBD;
    font-size: var(--large-par-size);
}

h1 {
    color: var(--h1-colour);
}

main h2 {
    color: var(--h1-colour);
}

#update-button {
    border: none;
    padding: 20px 120px;
    background-color: #FA4A0C;
    color: white;
    border-radius: 30px;
    font-weight: var(--button-font-weight);
    font-family: "Montserrat", sans-serif;
}

.options-select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-select ul {
    padding-left: 0;
}

.option-button {
    list-style: none;
    color: black;
    font-weight: 600;
    font-size: var(--option-size);
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 80%;
    background-color: white;
}

.profile p {
    font-size: 1rem;
}

.profile hr {
    width: 90%;
}

.profile-body {
    color: black;
}

.profile-wrapper h1 {
    color: black;
    margin-top: 0;
}

.profile-wrapper h2 {
    color: black;
    font-size: 1.2rem;
}

#change {
    color: #FA4A0C;
    font-size: 1rem;
}

.line-break {
    border: 2px solid #e4e4e4;
}

.header-nav {
    background-color: white;
}

#header-logo {
    width: 40%;
    margin: 10px;
}

.food-categories ul {
    list-style: none;
}

.food-categories li:hover {
    color: #FA4A0C;
}

.product {
    background-color: white;
    width: 60%;
    border-radius: 20px;
    z-index: 1;
}

.main-product h1 {
    margin-right: 160px;
    margin-left: 35px;
}

.product h1 {
    margin-right: 450px;
}

.product h2 {
    font-size: 1.2rem;
}

.product p {
    color: #FA4A0C;
    font-weight: 700;
}

.product-section {
    display: grid;
    grid-template-columns: 260px 190px;
    z-index: 1;
}

.product-image {
    margin: 0 auto;
    width: 30%;
    z-index: 2;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-nav .material-symbols-outlined {
    color: #adadaf;
}

.bottom-nav .material-symbols-outlined:hover {
    font-variation-settings: 
    'FILL' 1;
    color: #FA4A0C;
}

#profile-image {
    float: left;
}

#footer-logo {
    display: none;
}

@media (min-width: 415px) {
    .wrapper {
        width: 100%;
    }

    .article-grid {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(3, 400px);
        gap: 0px;
    }

    .article-grid .app-image {
        width: 50%;
    }

    .article-grid h2 {
        margin: 0 auto;
        font-size: 1rem;
    }
    
    .article-grid h3 {
        margin: 0 auto;
        font-size: 1.7rem;
    }

    .article-grid p {
        font-size: 1rem;
    }

    .header-image {
        background-image: url(..images/banner-image.png);
    }

    .article-flex {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .app-image {
        width: 90%;
    }

    .app-download {
        background-image: url(images/app-download-image.png);
        padding: 165px;
        text-align: center;
    }

    .app-download p {
        color: white;
    }

    .article-flex {
        justify-content: center;
    }

    .article-items {
        padding: 11px;
    }

    .main-flex .app-image {
        width: auto;
    }

    .line-break {
        width: 60%;
    }

    /* Makes the logo visible in larger sizes */
    #footer-logo {
        display: inline;
    }

    /* Puts content in a row and space it around */
    .home-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .home-footer p {
        font-size: 0.9rem;
    }
}